.svg-underline {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.svg-underline-dark {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.svg-underline-dark::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 13px;
  background-image: url(../img/underline_dark.svg);
  opacity: 0.7;
  width: 100%;
  background-size: 100% 13px;
  background-position: center;
}
.svg-underline::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 13px;
  background-image: url(../img/underline.svg);
  opacity: 0.7;
  width: 100%;
  background-size: 100% 13px;
  background-position: center;
}
