.contact {
  display: flex;
  flex-wrap: wrap;
  background-color: #193532;
  .order-1 {
    .item-box {
      position: relative;
      .show-img::before {
        content: '';
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.65);
        background-image: url(../img/instagram/instagram.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 40px 40px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        color: #fff;
        font-size: 24px;
        width: 100%;
        height: 100%;
        // transform: translate(-50%, -50%);
        transition: 0.5s;
      }
      .show-img:hover::before {
        opacity: 1;
      }
    }
  }
  .order-2 {
    padding: 0;
    text-align: center;
    padding: 84px 60px;
    .instagram {
      width: 54px;
      height: 54px;
    }
    &__title {
      font-family: 'Zilla Slab', serif;
      text-transform: capitalize;
      font-size: 28px;
      margin: 16px 0 48px;
      line-height: 35px;
      color: white;
    }
    .btn {
      text-transform: none;
      border: 1px solid rgba(255, 255, 255, 0.25);
      color: white;
      border-radius: 0;
      padding: 7px 26px;
      font-size: 16px;
      line-height: 30px;
    }
    .btn:hover {
      background-color: white;
      color: #333;
    }
  }
  .order-3 {
    .item-box {
      position: relative;
      .show-img::before {
        content: '';
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.65);
        background-image: url(../img/instagram/instagram.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 40px 40px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        color: #fff;
        font-size: 24px;
        width: 100%;
        height: 100%;
        // transform: translate(-50%, -50%);
        transition: 0.5s;
      }
      .show-img:hover::before {
        opacity: 1;
      }
    }
  }
}
@include breakpoint(991) {
  .contact {
    .order-2 {
      order: 1;
    }
    .order-1 {
      order: 2;
      padding-right: 1.5px;
    }
    .order-3 {
      order: 2;
      padding-left: 1.5px;
    }
  }
}
.item-beat-box {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3px;
  row-gap: 3px;
  .item-box {
    height: 241px;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
